{% extends 'partials/base.html.twig' %}
{% block javascripts %}
  {{ parent() }}
  {% do assets.addJs('theme://dist/js/script2.js', {'priority': 99, 'group':'bottom'}) %}
{% endblock %}
{% block body %}
  <canvas id="canvas" width="650" height="650"></canvas>
  <div class="c-sidebar">
    <a class="c-site-identity c-site-identity--sidebar" href="{{ home_url }}">Andrea Crawford</a>
    {% include 'partials/mainmenu.html.twig' with {'classes':'c-menu--sidebar'} %}
    {% block sidebar %}
    {% endblock %}
  </div>
  <div class="c-container--sidebar">
  {% block content %}{% endblock %}
  </div>
{% endblock %}
