{% extends 'partials/insidepage.html.twig' %}
{% block sidebar %}
  {% if page.header.custom_menu %}
  <div class="c-sidebar-menu">
    {% if page.header.custom_menu %}
        <select class="c-filter c-filter--sidebar"><option class="c-filter__option--disabled" disabled selected>Filter projects</option>
            {% for item in page.header.custom_menu.items %}
            {% if taxonomy.findTaxonomy({'tag':item})|length>0 %}
            {% set tag = item|join('*')|replace(' ','-')|replace('*',' ')|lower %}
                <option class="c-filter__option" value="{{ tag }}">{{ item }}</option>
            {% endif %}
            {% endfor %}
        </select>
    {% endif %}
  </div>
  {% endif %}
{% endblock %}
{% block content %}
  {{ page.content }}
  {% for item in page.collection %}
    {% include 'partials/folioitem.html.twig' %}
  {% endfor %}
{% endblock %}
{% block footer_scripts %}
<script>
    $('select').change(function(){
        var selected = $(this).find('option:selected').val();
        $('.c-folio-item').hide();
        $('.c-folio-item.' + selected).show();
    })


</script>
{% endblock %}
