@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto");
h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
}

a {
  color: #ff3333;
}

html, body {
  position: absolute;
  height: 100%;
  width: 100%;
}

body {
  font-family: Roboto, sans-serif;
}

.h-hide-overflow {
  overflow: hidden;
}

canvas {
  top: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  transition: right 1s;
}

.c-navigation {
  font-family: Montserrat, sans-serif;
}
.c-navigation--next {
  text-align: right;
}
.c-navigation__link {
  text-decoration: none;
}

.c-button {
  background-color: #ff3333;
  color: white;
  text-decoration: none;
  padding: 0.75rem;
  transition: background-color 0.2s;
  display: inline-block;
}
.c-button:hover {
  background-color: #f50000;
}
.c-button--prev, .c-button--next {
  padding-top: 0.5rem;
}

.h-text--small {
  font-size: 0.7em;
}
.h-text--uppercase {
  text-transform: uppercase;
}

.c-container--sidebar {
  width: 72%;
  margin-left: 25%;
  position: relative;
}

.c-folio-item {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #222;
  display: block;
}
.c-folio-item__title {
  color: #ff3333;
  margin-bottom: 0;
  font-weight: 700;
}
.c-folio-item__subtitle {
  margin-top: 0;
  font-weight: 400;
}
.c-folio-item__content {
  font-family: Roboto, sans-serif;
}
.c-folio-item__images {
  display: flex;
  justify-content: center;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}
.c-folio-item__images--grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 6px;
}
.c-folio-item__images--grid.h-aspect:after {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  content: '';
}
.c-folio-item__images--grid.h-aspect--4-1::after {
  padding-bottom: 25%;
}
.c-folio-item__images--grid.h-aspect--3-1::after {
  padding-bottom: 33.33333%;
}
.c-folio-item__images--grid.h-aspect--215-100::after {
  padding-bottom: 46.51163%;
}
.c-folio-item__images--grid.h-aspect--2-1::after {
  padding-bottom: 50%;
}
.c-folio-item__images--grid.h-aspect--1-1::after {
  padding-bottom: 100%;
}
.c-folio-item__images--grid.h-aspect--16-9::after {
  padding-bottom: 56.25%;
}
.c-folio-item__images--grid.h-aspect--4-3::after {
  padding-bottom: 75%;
}
.c-folio-item__image {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  max-width: 600px;
  width: 75vw;
}
.c-folio-item__image img {
  max-width: 100%;
  max-height: 75vh;
}

.c-sidebar-menu {
  padding-left: 1rem;
}
.c-sidebar-menu__header {
  font-weight: bold;
}
.c-sidebar-menu__list {
  font-family: Montserrat, sans-serif;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.c-sidebar-menu__checkbox {
  display: none;
}
.c-sidebar-menu__checkbox:checked + .c-sidebar-menu__list-item {
  color: #ff3333;
  font-weight: bold;
}
.c-sidebar-menu__list-item {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
  box-shadow: 0 0 5px 4px white;
  background-color: white;
  display: inline;
}

.h-grid-padding {
  grid-column-start: 1;
  grid-column-end: span 12;
  grid-row-start: 1;
}

.c-skill-list {
  padding-left: 0;
  list-style-type: none;
}
.c-skill-list__item {
  color: #ff3333;
  border: 1px solid #ff3333;
  border-radius: 2rem;
  padding: 0 0.5rem 0 0.5rem;
  margin-bottom: 0.25rem;
  display: inline-block;
}
.c-skill-list__item::before {
  content: '+';
  margin-right: 0.25rem;
}

.show-for-small {
  display: none;
}

.c-site-identity {
  font-weight: 600;
  font-family: 'Montserrat',sans-serif;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
.c-site-identity--homepage {
  position: fixed;
  line-height: 45px;
  top: 37%;
  left: 37px;
  font-size: 3rem;
  padding: 0.75rem;
  letter-spacing: -1px;
}
.c-site-identity--sidebar {
  padding: 0.5rem;
  margin-left: -0.5rem;
  padding-bottom: 0;
  font-size: 1.5rem;
}

.c-sidebar {
  position: fixed;
  width: 28%;
  padding-top: 3rem;
  padding-left: 0.75rem;
}

.c-menu {
  font-family: 'Montserrat',sans-serif;
  margin: 0;
  list-style-type: none;
}
.c-menu li {
  display: inline-block;
  text-transform: uppercase;
}
.c-menu li a {
  text-decoration: none;
}
.c-menu--sidebar {
  padding: 0;
  margin-left: -0.25rem;
  margin-bottom: 5rem;
}
.c-menu--sidebar li {
  padding: 0.25rem;
}
.c-menu--sidebar li a {
  color: rgba(255, 255, 255, 0.85);
}
.c-menu--sidebar li a:hover {
  color: white;
}
.c-menu--homepage {
  position: fixed;
  top: 47%;
  left: 37px;
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 1rem;
  padding-right: 1rem;
}
.c-menu--homepage li a {
  display: inline-block;
  padding: 0.75rem 1rem;
  color: #222;
}
.c-menu--homepage li a:hover {
  color: #888;
}

.c-resume {
  background-color: rgba(255, 255, 255, 0.9);
}
.c-resume h2 {
  font-size: 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid #ff3333;
  padding-bottom: 0.25rem;
}

.c-job__title {
  color: #ff3333;
  margin-bottom: 0.25rem;
}
.c-job__body {
  display: grid;
  grid-template-columns: 130px 1fr;
}
.c-job__employer {
  margin: 0;
}
.c-job__description ul, .c-job__description p {
  margin: 0;
}
.c-job__description ul li {
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.h-flex {
  display: flex;
}
.h-flex--vertical {
  flex-direction: column;
}
.h-flex--space-between {
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  canvas {
    display: none;
  }

  .c-container--sidebar {
    width: 100%;
    margin-left: 0;
  }

  .c-sidebar {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
