{% extends 'partials/base.html.twig' %}
{% block javascripts %}
  {{ parent() }}
  {% do assets.addJs('theme://dist/js/script3.js', {'priority': 99, 'group':'bottom'}) %}
{% endblock %}
{% block body_classes %}h-hide-overflow{% endblock %}
{% block body %}
<div class="c-container c-container--hide-overflow">
  <canvas id="canvas" width="650" height="650"></canvas>
  <a class="c-site-identity c-site-identity--homepage hide-for-small" href="{{ home_url }}">Andrea Crawford</a>
  <div id="smallmenu" class="show-for-small">
    <a href="/">
      <img id="logo" width="100%" src="{{ url('theme://images/logo.png') }}"/>
    </a>
    {% include 'partials/mainmenu.html.twig' with {'classes':'c-menu--homepage'} %}
  </div>
  <div id="menu" class="min hide-for-small">
    {% include 'partials/mainmenu.html.twig' with {'classes':'c-menu--homepage'} %}
  </div>
</div>
{% endblock %}
