<div class="h-flex" style="align-items: center">
  <div class="c-grid--medium-58">
    {{ item.media[item.header.featured_image[0]].html() }}
  </div>
  <div class="c-grid--medium-42 h-flex h-flex--vertical">
    {{ item.media[item.header.featured_image[1]].html() }}
    {{ item.media[item.header.featured_image[2]].html() }}
  </div>
</div>
