<div class="h-flex h-flex--mobile" style="align-items: center">
  <div style="width: 58%">
    {{ item.media[item.header.featured_image[0]].html() }}
  </div>
  <div style="width: 42%" class="h-flex h-flex--mobile h-flex--vertical">
    {{ item.media[item.header.featured_image[1]].html() }}
    {{ item.media[item.header.featured_image[2]].html() }}
  </div>
</div>
