<div class="h-flex">
  <div style="width: 66.5%">
    {{ page.media[page.header.featured_image[0]].html() }}
  </div>
  <div style="width: 32.5%; margin-left: 6px" class="h-flex h-flex--vertical">
    <div style="margin-bottom: 2px">{{ page.media[page.header.featured_image[1]].html() }}</div>
    <div>{{ page.media[page.header.featured_image[2]].html() }}</div>
  </div>
</div>
