<div class="h-flex">
  <div class="c-grid--medium-67">
    {{ item.media[item.header.featured_image[0]].html() }}
  </div>
  <div class="c-padding--medium-left c-grid--medium-33 h-flex h-flex--vertical">
    <div style="margin-bottom: 2px">{{ item.media[item.header.featured_image[1]].html() }}</div>
    <div>{{ item.media[item.header.featured_image[2]].html() }}</div>
  </div>
</div>
