@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$primary-color: #ff3333;
$primary-font-stack: Montserrat, sans-serif;
$secondary-font-stack: Roboto, sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font-stack;
}

a {
  color: $primary-color;
}

html,
body {
  position: absolute;
  height: 100%;
  width: 100%;
}

body {
  font-family: $secondary-font-stack;
}

.h-hide-overflow {
  overflow: hidden;
}

canvas {
  top: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  transition: right 1s;
}

.c-navigation {
  font-family: $primary-font-stack;

  &--next {
    text-align: right;
  }

  &__link {
    text-decoration: none;
  }
}

.c-button {
  background-color: $primary-color;
  color: white;
  text-decoration: none;
  padding: 0.75rem;
  transition: background-color 0.2s;
  display: inline-block;

  &:hover {
    background-color: darken($primary-color, 12);
  }

  &--prev, &--next {
    padding-top: 0.5rem;
  }


}

.h-text {
  &--small {
    font-size: 0.7em;
  }
  &--uppercase {
    text-transform: uppercase;
  }
}

.c-container {
  &--sidebar {
    width: 72%;
    margin-left: 25%;
    position: relative;
  }
}

.c-folio-item {
  background-color: rgba(255,255,255,0.7);
  padding: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #222;
  display: block;

  &__title {
    color: $primary-color;
    margin-bottom: 0;
    font-weight: 700;
  }

  &__subtitle {
    margin-top: 0;
    font-weight: 400;
  }

  &__content {
    font-family: $secondary-font-stack;
  }

  &__images {

    &--grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 1fr);
      grid-gap: 6px;

      &.h-aspect {
        &:after {
          grid-column-start: 1;
          grid-column-end: span 1;
          grid-row-start: 1;
          grid-row-end: span 1;
          content:'';
        }

        $aspect-ratios: ((4,1),(3,1),(215,100),(2,1),(1,1),(16,9),(4,3));

        @each $item in $aspect-ratios {
          &--#{nth($item,1)}-#{nth($item,2)} {
            &::after {
              padding-bottom:nth($item,2)/nth($item,1)*100%;
            }
          }
        }
      }
    }


    display: flex;
    justify-content: center;
    margin-left: -0.25rem;
    margin-right: -0.25rem;
  }

  &__image {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    max-width: 600px;
    width: 75vw;

    img {
      max-width: 100%;
      max-height: 75vh;
    }
  }
}

.c-sidebar-menu {
  padding-left: 1rem;

  &__header {
    font-weight: bold;
  }

  &__list {
    font-family: $primary-font-stack;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__checkbox {
    display: none;

    &:checked + .c-sidebar-menu__list-item {
      color: $primary-color;
      font-weight: bold;
    }
  }

  &__list-item {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    cursor: pointer;
    box-shadow: 0 0 5px 4px white;
    background-color: white;
    display: inline;
  }
}


.h-grid-padding {
  grid-column-start: 1;
  grid-column-end: span 12;
  grid-row-start: 1;
}

.c-skill-list {
  padding-left: 0;
  list-style-type: none;

  &__item {
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 2rem;
    padding: 0 0.5rem 0 0.5rem;
    margin-bottom: 0.25rem;
    display: inline-block;

    &::before {
      content: '+';
      margin-right: 0.25rem;
    }
  }
}


.show-for-small {
  display: none;
}

.c-site-identity {
  font-weight: 600;
  font-family: 'Montserrat',sans-serif;
  text-transform: uppercase;
  color: white;
  text-decoration: none;

  &--homepage {
    position: fixed;
    line-height: 45px;
    bottom: 50%;
    left: 37px;
    font-size: 3rem;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    letter-spacing: -1px;
  }

  &--sidebar {
    padding: 0.5rem;
    margin-left: -0.5rem;
    padding-bottom: 0;
    font-size: 1.5rem;
  }
}

.c-sidebar {
  position: fixed;
  width: 28%;
  padding-top: 3rem;
  padding-left: 0.75rem;
}

.c-menu {
  font-family: 'Montserrat',sans-serif;
  margin: 0;
  list-style-type: none;

  li {
    display: inline-block;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }
  }

  &--sidebar {
    padding: 0;
    margin-left: -0.25rem;
    margin-bottom: 5rem;

    li {
      padding: 0.25rem;
      a {
        color: rgba(255,255,255,0.85);
        &:hover {
          color: rgba(255,255,255,1);
        }
      }
    }
  }

  &--homepage {
    position: fixed;
    top: 47%;
    left: 37px;
    background-color: rgba(255, 255, 255, 0.9);
    padding-left: 1rem;
    padding-right: 1rem;

    li {
      a {
        display: inline-block;
        padding: 0.75rem 1rem;
        color: #222;

        &:hover {
          color: #888;
        }
      }
    }
  }
}

.c-resume {
  background-color: rgba(255, 255, 255, 0.9);

  h2 {
    font-size:1rem;
    text-transform: uppercase;
    border-bottom: 1px solid $primary-color;
    padding-bottom: 0.25rem;
  }

  ul {
    li {

    }
  }
}

.c-job {
  &__title {
    color: $primary-color;
    margin-bottom: 0.25rem;
  }
  &__body {
    display: grid;
    grid-template-columns: 130px 1fr;
  }

  &__employer {
    margin: 0;
  }

  &__description {
    ul, p {
      margin: 0;
    }

    ul {
      li {
        margin-bottom: 0.5rem;
      }
    }
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.h-flex {
  display: flex;

  &--vertical {
    flex-direction: column;
  }

  &--space-between {
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px){

  canvas {
    display: none;
  }

  .c-container {
    &--sidebar {
      width: 100%;
      margin-left: 0;
    }
  }

  .c-sidebar {
    display: none;
  }

}
